// Imported font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Finger+Paint&display=swap");

.App {
  text-align: center;

  color: white;
}

body {
  // background-image: url("https://i.imgur.com/QdkR1EG.jpg");
  background-image: url("https://i.imgur.com/w7lWJQO.jpg");
  background-size: cover;
}

.analogHeader {
  font-family: "Bungee Shade", cursive;
  font-size: 50px;
  color: #e1efe6;
  border-bottom-style: groove;
  border-top-style: groove;
}
#jukebox {
  color: #e1efe6;
  margin-left: 25px;
  font-family: "Bungee Shade", cursive;
  font-size: 30px;
}

#AndListen {
  color: #e1efe6;

  margin-left: 25px;
}

img {
  display: flex;
  display: inline;
  height: 80px;
  width: 80px;
  margin: 3px;
  opacity: 50%;
}

.Home {
  margin: 10px;
}

.navBar {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  color: white;
  font-size: 20px;
}

#HomeButton {
  color: #e1efe6;
  font-family: "Bungee Shade", cursive;
  font-size: 25px;
  margin-right: 10px;
}

#SongsButton {
  color: #fff8f0;
  font-family: "Bungee Shade", cursive;
  margin-left: 10px;
  margin-right: 10px;

  font-size: 25px;
}

#PlayButton {
  color: #fff8f0;
  height: 25px;
  width: 25px;
  font-size: 10px;
  font-family: "Bungee Shade", cursive;
  margin-left: 10px;
}

#ArtistButton {
  color: #fff8f0;
  font-family: "Bungee Shade", cursive;
  font-size: 25px;
  margin-left: 10px;
}

.mainPage {
  font-family: "Bungee Shade", cursive;
}

.songList {
  margin-top: 45px;
  color: #fff8f0;
  font-size: 20px;
}
.artistInfo {
  color: #e1efe6;
  font-size: 30px;
  font-family: "Bungee Shade", cursive;
}

.bio {
  color: #e1efe6;
  font-size: 40px;
  font-family: "Bungee Shade", cursive;
}

.AudioPlayer {
  font-family: "Finger Paint", cursive;
  padding: 10px;
}

//

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6efb61;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
