// Imported font from Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Finger+Paint&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&family=Vibes&display=swap");

.App {
  text-align: center;

  color: white;
}

body {
  background-image: url("https://i.imgur.com/KbscWlB.jpg");

  background-size: auto;
}

@keyframes animation1 {
  0% {
    color: #22181c;
    font-size: 50px;
  }
  25% {
    color: #ee2e31;
    font-size: 60px;
  }
  50% {
    color: #ff6978;
    font-size: 65px;
  }
  75% {
    color: #f7f052;
    font-size: 70px;
  }
  100% {
    color: #22181c;
    font-size: 50px;
  }
}

@keyframes animation2 {
  0% {
    color: #22181c;
    font-size: 70px;
  }
  25% {
    color: #ee2e31;
    font-size: 80px;
  }
  50% {
    color: #ff6978;
    font-size: 85px;
  }
  75% {
    color: #f7f052;
    font-size: 90px;
  }
  100% {
    color: #22181c;
    font-size: 70px;
  }
}

.analogHeader {
  margin-top: 60px;
  margin-bottom: 60px;
  border-bottom-style: groove;
  border-top-style: groove;
}
#analog {
  color: #22181c;

  font-family: "Bungee Shade", cursive;
  font-size: 70px;

  animation-name: animation2;
  animation-duration: 60s;
  animation-delay: 2s;
}

#jukebox {
  color: #22181c;
  margin-left: 25px;
  font-family: "Bungee Shade", cursive;
  font-size: 50px;
  animation-name: animation1;
  animation-duration: 60s;
  animation-delay: 2s;
}

@keyframes animation6 {
  0% {
    color: #22181c;
  }
  25% {
    color: #ee2e31;
  }
  50% {
    color: #ff6978;
  }
  75% {
    color: #f7f052;
  }
  100% {
    color: #22181c;
  }
}

#listenUp {
  font-size: 45px;
  color: #22181c;
  border-top-style: groove;
  border-bottom-style: groove;
  font-family: "Mansalva", cursive;
  animation-name: animation6;
  animation-duration: 50s;
}

img {
  display: flex;
  display: inline;
  height: 80px;
  width: 80px;

  opacity: 50%;
}

img:hover {
  opacity: 100%;
}

.Home {
  margin: 10px;
}

.navBar {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-bottom: 80px;
  padding: 10px;
  color: white;
  font-size: 20px;
}

#HomeButton {
  color: #e1efe6;
  font-family: "Bungee Shade", cursive;
  font-size: 25px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
}

#SongsButton {
  color: #fff8f0;
  font-family: "Bungee Shade", cursive;
  margin-left: 10px;
  margin-right: 10px;
  height: 30px;
  width: 30px;
  font-size: 25px;
  border-radius: 4px;
}

#PlayButton {
  color: #fff8f0;
  height: 30px;
  width: 30px;
  font-size: 10px;
  font-family: "Bungee Shade", cursive;
  margin-left: 10px;
  border-radius: 4px;
}

#ArtistButton {
  color: #fff8f0;
  font-family: "Bungee Shade", cursive;
  font-size: 25px;
  margin-left: 15px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
}

.mainPage {
  font-family: "Bungee Shade", cursive;
}

.songList {
  margin-top: 45px;
  color: #b8336a;
  font-size: 25px;
  font-family: "Mansalva", cursive;
}

@keyframes animation3 {
  0% {
    color: #22181c;
  }
  25% {
    color: #ee2e31;
  }
  50% {
    color: #ff6978;
  }
  75% {
    color: #f7f052;
  }
  100% {
    color: #22181c;
  }
}

#mySongs {
  color: #22181c;
  font-size: 40px;
  font-family: "Mansalva", cursive;
  animation-name: animation3;
  animation-duration: 60s;
  animation-delay: 2s;
  border-top-style: groove;
  border-bottom-style: groove;
}

@keyframes animation4 {
  0% {
    color: #b8336a;
  }
  25% {
    color: #3c4f76;
  }
  50% {
    color: #d4e4bc;
  }
  100% {
    color: #383f51;
  }
}

#whoAmI {
  font-family: "Mansalva", cursive;
  animation-name: animation4;
  animation-duration: 30s;
  font-size: 50px;
  color: #383f51;
  border-top-style: groove;
  border-bottom-style: groove;
}

@keyframes animation5 {
  0% {
    font-size: 1.5px;
  }
  25% {
    font-size: 5px;
  }
  50% {
    font-size: 10px;
  }
  100% {
    font-size: 30px;
  }
}
.artistInfo {
  color: #b8336a;
  font-size: 30px;
  font-family: "Mansalva", cursive;
  animation-name: animation5;
  animation-duration: 40s;
}

.bio {
  color: #b8336a;
  font-size: 40px;
  font-family: "Mansalva", cursive;
}

.AudioPlayer {
  font-family: "Finger Paint", cursive;
  padding: 10px;
}

//

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6efb61;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
